@mixin text {
  font-size: 1.4rem;
  line-height: calc(28 / 14);
}

@mixin medium-text {
  font-size: 2.4rem;
  line-height: calc(34 / 24);
}

@mixin regular-text {
  font-size: 1.2rem;
  line-height: calc(24 / 12);
}


@mixin small-text {
  font-size: 1.4rem;
  line-height: calc(21 / 14);
}

